<% provide(:title, @user.email) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.email %>
      </h1>
    </section>
    <section class="event_form">
      <%= render 'shared/event_form' %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.events.any? %>
      <h3>Events (<%= @user.events.count %>)</h3>
      <ol class="events">
        <%= render @events %>
      </ol>
      <%= will_paginate @events %>
    <% end %>
  </div>
</div>
