<% provide(:title, @event.title) %>
<div class="row">
  <aside class="col-4">
    <section class="user_info">
      <h5>
        <%= link_to user_events_path(@event.user.id), class: "fa fa-step-backward" do %>
          Back
        <% end %>
      </h5>
      <h5>
        <%= link_to edit_user_event_path(@event.user.id, @event.id), remote: true, class: "fa fa-calendar" do %>
          <%= @event.title %>
        <% end %>
      </h5>
    <section class="forms">
      <div id="edit_form"></div>
      <div>
        <%= render "shared/history_form", {event: @event} %>
      </div>
    </section>
  </aside>
  <div class="col-8">
    <% if @event.histories.any? %>
      <h3><%= pluralize(@event.histories.count, "time") %></h3>
      <ol class="events">
        <%= render @histories %>
      </ol>
      <div class="d-flex flex-column align-items-center">
        <%= will_paginate @histories, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>
      </div>
    <% end %>
  </div>
</div>
