<% provide(:title, @event.title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= link_to user_events_path(@event.user.id) do %>
          <i class="glyphicon glyphicon-step-backward"></i> back
        <% end %>
      </h1>
      <h1>
        <i class="glyphicon glyphicon-tag"></i>
        <%= link_to @event.title, edit_user_event_path(@event.user.id, @event.id), remote: true %>
      </h1>
    <section class="forms">
      <div id="edit_form"></div>
      <div>
        <%= render 'shared/history_form', {event: @event} %>
      </div>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @event.histories.any? %>
      <h3><%= pluralize(@event.histories.count, "date") %></h3>
      <ol class="events">
        <%= render @histories %>
      </ol>
      <%= will_paginate @histories %>
    <% end %>
  </div>
</div>
