<% provide(:title, @event.title) %>
<div class="row">
  <aside class="col-4">
    <section class="user_info">
      <h1 class="fa fa-step-backward">
        <%= link_to user_events_path(@event.user.id) do %>
          back
        <% end %>
      </h1>
      <br>
      <h1 class="fa fa-calendar">
        <%= link_to @event.title, edit_user_event_path(@event.user.id, @event.id), remote: true %>
      </h1>
    <section class="forms">
      <div id="edit_form"></div>
      <div>
        <%= render 'shared/history_form', {event: @event} %>
      </div>
    </section>
  </aside>
  <div class="col-8">
    <% if @event.histories.any? %>
      <h3><%= pluralize(@event.histories.count, "time") %></h3>
      <ol class="events">
        <%= render @histories %>
      </ol>
      <div class='d-flex flex-column align-items-center'>
        <%= will_paginate @histories, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>
      </div>
    <% end %>
  </div>
</div>
