<li id="event-<%= event.id %>">
  <span class="content">
    <%= link_to event_path(event.id) do %>
      <i class="glyphicon glyphicon-tag"></i>
      <span><%= event.title%></span>
    <% end %>
  </span>
  <span class="timestamp">
    <%= pluralize((Date.current - (event.occurred_dates.first.created_at.to_date)).numerator, "day") %> ago.
    <% if current_user?(event.user) %>
      <%= link_to event, method: :delete , data: { confirm: "You sure?" } do %>
        <i class="glyphicon glyphicon-trash"></i>
        <span>delete</span>
      <% end %>
    <% end %>
  </span>
</li>
