<% provide(:title, @event.title) %>
<div class="row">
  <aside class="col-4">
    <section class="user_info">
      <h1>
        <%= link_to user_events_path(@event.user.id) do %>
          <i class="fa fa-step-backward"> Back</i>
        <% end %>
      </h1>
      <h1>
        <i class="fa fa-calendar"> <%= @event.title %></i>
      </h1>
    </section>
    <section>
      <%= render "shared/edit_event_form", event: @event %>
    </section>
    <section>
      <%= render "shared/history_form", {event: @event} %>
    </section>
  </aside>
  <div class="col-8">
    <% if @event.histories.any? %>
      <h3><%= pluralize(@event.histories.count, "date") %></h3>
      <ol class="events">
        <%= render @histories %>
      </ol>
      <div class="d-flex flex-column align-items-center">
        <%= will_paginate @histories, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>
      </div>
    <% end %>
  </div>
</div>
