<% provide(:title, @event.title) %>
<div class="row">
  <aside class="col-lg-4">
    <section class="user_info">
      <h5>
        <%= link_to user_events_path(@event.user.id) do %>
          <span class="fa fa-step-backward"> Back</span>
        <% end %>
      </h5>
      <h5>
        <span class="fa fa-calendar"> <%= @event.title %></span>
      </h5>
    </section>
    <section>
      <%= render "shared/edit_event_form", event: @event %>
    </section>
    <section>
      <%= render "shared/history_form", event: @event %>
    </section>
  </aside>
  <%= render "shared/histories", histories: @histories %>
</div>
