<% provide(:title, 'My events') %>
<div class="row">
  <aside class="col">
    <section class="user_info">
      <h1>
        <i class="glyphicon glyphicon-user"></i>
        <%= @user.email %>
      </h1>
    </section>
    <section class="event_form">
      <%= render 'shared/event_form', {user: @user} %>
    </section>
  </aside>
  <div class="col-8">
    <%= form_tag user_events_path(@user.id), method: :get do %>
      <%= text_field :event, :term, class: "form-control search" %>
      <%= submit_tag "Search event", name: nil, class: "btn btn-primary" %>
    <% end %>
    <% if @user.events.any? %>
      <h3><%= pluralize(@events.count, "event") %></h3>
      <ol class="events">
        <%= render @events %>
      </ol>
      <%= will_paginate @events %>
    <% end %>
  </div>
</div>
