<% provide(:title, "My events") %>
<div class="row">
  <aside class="col-lg-4">
    <section>
      <h5><span class="fa fa-user"></span> <%= @user.email %></h5>
    </section>
    <section class="event_form">
      <%= render "shared/event_form", user: @user %>
    </section>
  </aside>
  <div class="col-lg-8">
    <%= render "shared/search_event_form", user: @user %>

    <% if @user.events.any? %>
      <h3><%= pluralize(@events.count, "event") %></h3>
      <ol class="events">
        <%= render @events %>
      </ol>
      <div class="d-flex flex-column align-items-center">
        <%= will_paginate @events, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>
      </div>
    <% end %>
  </div>
</div>
