<% provide(:title, 'My events') %>
<div class="row">
  <aside class="col-4">
    <section class="user_info">
      <h1 class="fa fa-user">
        <%= @user.email %>
      </h1>
    </section>
    <section class="event_form">
      <%= render 'shared/event_form', {user: @user} %>
    </section>
  </aside>
  <div class="col-8">
    <%= form_tag user_events_path(@user.id), method: :get do %>
      <%= text_field :event, :term, class: "form-control search" %>
      <%= submit_tag "Search event", name: nil, class: "btn btn-secondary" %>
    <% end %>
    <% if @user.events.any? %>
      <h3><%= pluralize(@events.count, "event") %></h3>
      <ol class="events">
        <%= render @events %>
      </ol>
      <div class='d-flex flex-column align-items-center'>
        <%= will_paginate @events, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>
      </div>
    <% end %>
  </div>
</div>
